@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* main section */
.main__section {
  display: flex;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}
